<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hanproject.timetable.TT_LP_MainActivity" >
        </activity>
        <activity android:name="com.hanproject.timetable.TT_TimeTableActivity" >
        </activity>
        <activity android:name="com.hanproject.timetable.CM_CalendarMonthViewActivity" >
        </activity>
        <activity android:name="com.hanproject.timetable.DI_ListViewActivity" >
        </activity>
        <activity android:name="com.hanproject.timetable.DI_SelectChangeActivity" >
        </activity>
        <activity android:name=".timetable.DI_CP_PlusClassFragment"></activity>
        <activity android:name="com.hanproject.taskexam.TaskStartActivity" >
        </activity>
        <activity android:name="com.hanproject.taskexam.addTaskActivity" >
        </activity>
    </application>

</manifest>